<div class="reddit-body">
  <div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <!-- Display Posts-->
        <div class="row post" *ngFor="let post of _posts">
          <!-- Section to Display Votes-->
          <div class="col-md-1">
            <div class="d-flex flex-column votebox">
              <div class="p-2">
                <fa-icon (click)="upvotePost()" class="upvote" [icon]="faArrowUp" [style.color]="upVoteColor"></fa-icon>
              </div>
              <div class="p-2 votecount">{{post.voteCount}}</div>
              <div class="p-2">
                <fa-icon (click)="downvotePost()" class="downvote" [icon]="faArrowDown" [style.color]="downVoteColor">
                </fa-icon>
              </div>
            </div>
          </div>
          <!-- Section to Display Post Information-->
          <div class="col-md-11">
            <span class="subreddit-info">
              <span class="subreddit-text"><a class="posturl" routerLink="">{{post.subredditName}}</a></span>
              <span> . Posted by <a class="username" routerLink="/user/{{post.userId}}">{{post.userUsername}}</a></span>
              <span> . {{post.duration}}</span>
            </span>
            <hr />
            <div class="post-title">
              <a class="postname" href="{{post.url}}">{{post.name}}</a>
            </div>
            <div>
              <p class="post-text">{{post.description}}</p>
            </div>
            <hr />
            <span>
              <a class="btnCommments" role="button">
                <fa-icon [icon]="faComments"></fa-icon>
                Comments({{post.commentsCount}})
              </a>
              <button class="login" (click)="goToPost(post.id)">
                Read Post
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
