<div class="d-flex flex-column gap-2 p-2" style="border: solid 1px gray; border-radius: .5rem">
  <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png" style="height: 64px">
  <div style="text-align: center; font-size: 1em">Welcome to Spring Reddit Clone home page. Come here to
    check in with your favorite subreddits.
  </div>
  <div style="text-align: center">
    <button (click)="goToCreatePost()" class="btn btn-primary">Create Post</button>
  </div>
  <div style="text-align: center">
    <button (click)="goToCreateSubreddit()" class="btn btn-outline-primary">Create Subreddit</button>
  </div>
</div>
